<div class="container">
    <div class="card m-3"> 
        <h5 class="card-header">Anagram Tester</h5>
        <div class="card-body">
                <div *ngIf="isSubmited">
                    <div  *ngIf="isAnagram else noAnagram">
                            <div class="alert alert-success" role="alert">
                                    it’s an Anagram
                            </div>
                    </div> 

                    <ng-template #noAnagram> 
                            <div class="alert  alert-danger" role="alert">
                                    it’s not an Anagram 
                    </div>
                            
                    </ng-template>
                      
                </div>
                
                <form class="form-inline" [formGroup]="anagramForm" (ngSubmit)="onSubmit()">
                        <div class="form-group mb-2">
                          <label for="str1" class="sr-only">String 1</label>
                          <input type="text" class="form-control" formControlName="stringA" id="str1" placeholder="Enter String 1">
                        </div>
                        <div class="form-group mx-sm-3 mb-2">
                          <label for="str2" class="sr-only">String 2</label>
                          <input type="text" class="form-control"  formControlName="stringB" id="str2" placeholder="Enter String 2">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Check if Anagram </button>
              </form>    
              
        
        </div>  
    </div>
    
</div> 
